* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    background: hsl(210, 46%, 95%);
    font-size: 13px;
}

main {
    max-width: 300px;
    margin: 0 2rem;

}

@media (min-width:740px) {
    main {
        max-width: 740px;
    }
}

.article-image img {
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
}

.article-preview-card {
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

@media (min-width:740px) {
    .article-image img {
        max-height: 30rem;
        display: block;
    }

    .article-preview-card {
        display: grid;
        grid-template-columns: 1fr 1.3fr;
    }
}

.article-preview {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem 1.7rem;
}

.article-preview .article-heading {
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    line-height: 1.5;
}


.article-preview .article-paragraph {
    color: hsl(214, 17%, 51%);
    line-height: 1.6;
    font-weight: 500;
}


/* author-section */
.author-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.7rem;
}

.author-info,
.sharing-options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author-img {
    width: 2.5rem;
    border-radius: 50%;
}

.author-info .author-name {
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.author-info .publish-date {
    color: hsl(212, 23%, 69%);
}

.share-button {
    padding: 0.5rem 0.4rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: hsl(210, 46%, 95%);
    width: 2rem;
    color: #6E8098;
}


/* share-section */
.share-section {
    display: flex;
    gap: 1rem;
    background-color: hsl(217, 19%, 35%);
}

.share-section .share {
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* additional classes */
.hidden {
    display: none;
}

.bg-change {
    background-color: hsl(217, 19%, 35%);
}

.button-change {
    background: hsl(214, 17%, 51%);
    color: #fff;
}

@media (min-width: 740px) {
    main {
        position: relative;
    }

    .author-info.hidden {
        display: flex;
    }

    .bg-change {
        background-color: transparent;
    }

    .share-section {
        border-radius: 6px;
        position: absolute;
        top: 40%;
        left: 77%;
        padding: 1rem;
    }

    .share-section::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 55%;
        border: 15px solid;
        border-color: hsl(217, 19%, 35%) transparent transparent transparent;
    }

}