* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    background: hsl(210, 46%, 95%);
    font-size: 13px;
}

main {
    max-width: 300px;
    margin: 0 2rem;

    /* desktop */
    /* max-width: 740px; */
}

.article-image img {
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
}

.article-preview-card {
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);

    /* desktop */
    /* display: grid;
    grid-template-columns: 60fr 70fr; */
}

.article-preview {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem 1.7rem;
}

.article-preview .article-heading {
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    line-height: 1.5;

    /* desktop */
    /* font-size: 1.2rem; */
}

.article-preview .article-paragraph {
    color: hsl(214, 17%, 51%);
    line-height: 1.6;
    font-weight: 500;
}


/* author-section */
.author-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.7rem;
}

.author-info,
.sharing-options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author-img {
    width: 2.5rem;
    border-radius: 50%;
}

.author-info .author-name {
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.author-info .publish-date {
    color: hsl(212, 23%, 69%);
}

.share-button {
    padding: 0.5rem 0.4rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.share-button {
    width: 2rem;
}

.share-button {
    background-color: hsl(210, 46%, 95%);
    color: #6E8098;
}



/* share-section */
.share-section {
    display: flex;
    gap: 1rem;
    background-color: hsl(217, 19%, 35%);
}

.share-section .share {
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* hidden class */
.hidden {
    display: none;
}

.bg-change {
    background-color: hsl(217, 19%, 35%);
}

.button-change {
    background: hsl(214, 17%, 51%);
    color: #fff;
}